.container{
    border: 4px solid black;
    width: 40px;
    height: 400px;
    background-size: 100% 200%;
    transition: background-position 1s ease-in-out;
}

.container:hover{
    background-position: 0 100%;
}
